<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.3.7/js/bootstrap.js"></script>
</head>
<body>
    <a href="http://www.baidu.com" class="btn-danger">aaa</a>
        <button class="btn btn-primary" type="button" >（首选项）Primary</button>

</body>
</html>