<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理系统</title>

    <script type="text/javascript" src="/static/axios.min.js"></script>
    <script type="text/javascript" src="/static/vue.min.js"></script>
</head>
<body>
    <div>
        <a href="http://127.0.0.1:5000/test" methods="POST">获取完成队列列表</a>
    </div>
    <div id="app">
        <span>{{ name }}</span>
        <span>{{ data }}</span>

    </div>
    <script>
        new Vue({
            el: '#app',
            data: function () {
                return {
                    visible: false,
                    data: {
                        name:'aclie'
                    }
                }
            },
            
            mounted() {
                
                const self = this
                axios.post("/status").then((data) => {
                    console.log("data: ", data)
                    self.data = data.data
                })
                .catch((err) => {
                    console.log("err: ", err)
                })
            }
        })
        {#console.log('axios: ', axios)#}

    </script>
</body>
</html>