<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>提交数据</title>

    <script type="text/javascript" src="/static/axios.min.js"></script>
    <script type="text/javascript" src="/static/vue.min.js"></script>
{#    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">#}
{#    <script type="text/javascript" src="/static/jquery-1.12.4.min.js"></script>#}
{#    <script type="text/javascript" src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>#}
</head>
<body>

    <div>
{#        <a class="btn btn-primary" href="#">按钮</a>#}
{#        <button type="button" class="btn btn-primary">（首选项）Primary</button>#}
{#        {% if  name %}#}
{#            <h1>{{ name }}</h1>#}
{#        {% else %}#}
{#            <h1>hello world!</h1>#}
{#        {% endif %}#}



{#        {% for key,values in result.iteritems() %}#}
{#            <p>{{ key }}</p>#}
{#            <p>{{ values }}</p>#}
{#        {% endfor %}#}
{#       <p>{{ dic["data_id"] }}</p>#}
{#        {% for item in data %}#}
{#            <p>{{item}}</p>#}
{#        {% endfor %}#}
{##}
{#        <p>{{ data[0] }}</p>#}


    
{#        <form action = "http://localhost:5000/result"; method = "POST">#}
{#             <p>Name <input type = "text" name = "Name" /></p>#}
{#             <p>Physics <input type = "text" name = "Physics" /></p>#}
{#             <p>Chemistry <input type = "text" name = "chemistry" /></p>#}
{#             <p>Maths <input type ="text" name = "Mathematics" /></p>#}
{#             <p><input type = "submit" value = "submit" /></p>#}
{#        </form>#}
        <span>{{ data }}</span>
        <script>
            new Vue({
              el: '#app',
              data: function() {
                return {
                    visible: false,
                    data: {}
                }
              },
                mounted() {
                  const  self = this
                    axios.post("/test").then((data) => {
                        console.log("data: ", data)
                        self.data = data.data
                    })
                    .catch((err) => {
                        console.log("err: ", err)
                    })
                }
            })
            {#console.log('axios: ', axios)#}

        </script>
    </div>
</body>
</html>