<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="/static/axios.min.js"></script>
    <script type="text/javascript" src="/static/vue.min.js"></script>
{#    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>#}
</head>
<body>
    {% raw %}
    <div>
        <a class="" href="http://127.0.0.1:5000/info"  methods="POST">信息列表</a>
        <a class="" href="http://127.0.0.1:5000/status"  methods="POST">视频状态</a>

    </div>





    <div id="app">
        <h1>为什么没有显示文字</h1>
        <h3>{{ info }}</h3>
        <button @click="test" type="button">nihao</button>

        {{ details() }}
    </div>
    {% endraw %}

    <script type="text/javascript">


        var vm = new Vue({
            el: '#app',
            data() {
                return {
                    info: "hello"
                }
            },

            mounted () {
            axios
              .get('/status')
              .then(response => (this.info = response))
              .catch(function (error) { // 请求失败处理
                console.log(error);
              });
          },

			methods: {
                test: function () {
                    const self = this
                    axios.post("http://127.0.0.1:5000/status").then((data) => {
                        console.log("data: ", data)
                        self.data = data.data
                        console.log("data[0]: ",self.data[0])

                        self.info = data.data[0]
                        self.info = "hello world"
                        console.log("info: ",self.info)
                    })
                    .catch((err) => {
                        console.log("err: ", err)
                    })
                }
			}
        })


    </script>
</body>
</html>